*{
    margin: 0px;
    padding: 0px;
}

.contain{
    width: 100%;
    background-color: rgba(67, 177, 166, 0.514);
}
/* --------------------------------header-------------------------------- */
header{
    width: 100%;
    height: 130px;
}
header div span{
    width: 49%;
    height: 60px;
    display: inline-block;
}
header div span ul li{
    list-style: none;
    float: left;
    padding-left: 15px;
    font-size: 12px;
    color: grey;
    text-decoration: underline;
}
header div span ul {padding-left: 15px;}
header div span input[type=search]{
    position: relative;
    top: -10px;
    left: 50px;
    width: 200px;
    padding: 5px 25px 5px 10px;
    font-size: 10px;
    
}
#icon-search{
    max-width: 15px;
    position: relative;
    top: -6px;
    left: 3.7%;

}
header div span:nth-child(2) p{
    padding-top: 10px;
    padding-left: 15px;
    color: mediumblue;
}
header div span:nth-child(1){
    position: relative;
    top: -7px;
}
header div span:nth-child(1) p{
    padding-top: 15px;
    padding-left: 45%;
    font-size: 25px;
}
header .header_1 {
    height: 32px;
    width: 100%;   
}
header .header_1{
    position: relative;
    top: -7px;
}
header .header_1 ul{margin-left: 20%;}
header .header_1 ul li{
    list-style: none;
    float: left;
    padding-left: 15px;
    padding-top: 13px;
    font-size: 12px;
}

header .header_1 ul li a{text-decoration: none;}
header div:nth-of-type(2){background-color: mediumblue;}
header div:nth-of-type(3){background-color: white;}
header div:nth-of-type(3) ul li a{color: rgb(201, 151, 151);}

header div:nth-of-type(2) ul li a{
    color: white;
    font-weight: bold;
}
header div:nth-of-type(2) ul li a:hover{
    border-bottom: solid 2px white;
    padding-bottom: 3px;
}
header div:last-of-type{border-bottom: solid 2px rgb(0, 140, 255);}

/* -----------------------------section------------------------------------ */
section{font-family: 'Times New Roman', Times, serif}
.section_1{
    width:100%;
    height: 575px;
    background-color: rgba(72, 136, 209, 0.466);
    margin-top: -4%;
}
.section_1 span{
    display: inline-block;
    width: 20%;
    height: 405px;
}
.section_0{
    width: 100%;
    height: 330px;
    margin-bottom: 35px;  
}
/* -------------------------slide-show------------------------------- */

.section_0 .image_container{
    width: 50%;
    height: 300px;
    position: relative;
    margin-top: 1%;
    margin-left:28%;
}
.section_0 .image_container .slider_image{
    position: absolute;
    width: 100%;
    height: 300px;
    z-index: -1;

}
.section_0 .image_container .slider_image img{width: 100%;height: 300px;}
#i1,#i2,#i3{display: none;}   
.nav{
    width: 100%;
    height: 12px;
    bottom: 12%;
    position: absolute;
    text-align: center;
    z-index: 2;
} 
.dots{
    top: -5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 4px;
    position: relative;
    display: inline-block;
    background-color: mediumaquamarine;
} 
#i1:checked~#image_1,#i2:checked~#image_2,#i3:checked~#image_3 {z-index: 2;}
#i1:checked ~ .nav #dot1,#i2:checked ~ .nav #dot2,#i3:checked ~ .nav #dot3 {background-color:white;}
.section_0  input[type=submit]{
    position: absolute;
    top: 53%;
    z-index: 3;
    width: 100px;
    height: 25px;
    border: solid .8px rgb(131, 179, 61);
    border-radius: 3px;
    outline: none;
    font-weight: bold;
}
.section_0  input[type=submit]:first-of-type{
    background-color: rgb(131, 179, 61);
    left: 30%;
    color: white;
}
.section_0  input[type=submit]:last-of-type{
    left: 38%;
    color: rgb(131, 179, 61);
}
.section_0 p{
    position: relative;
    top: -65%;
    left: 30%;
    z-index: 3;
    font-weight: bold;
    font-size: 25px;
    color: mediumblue;
    width: 320px;
}
.section_0 p:last-of-type{
    font-size: inherit;
    color: rgb(32, 66, 179);

}
/* -------------------liste de presentation--------------------------- */
.section_1 span:first-of-type{
    position: relative;
    top: -30%;
    left: 5%;
}

.section_1 span:nth-of-type(1) ul li{
    list-style: none;
    margin-left: 30%;
    border-radius: 3px;
    padding-top: 5px;
    padding-left: 2px;
    width: 105px;
    height: 23px;
}
.section_1 span:nth-of-type(1) ul li:hover{ background-color: rgba(25, 25, 112, 0.383);}

.section_1 span:nth-of-type(1) ul li a{
    text-decoration: none;
    color: mediumblue;
}
.section_1 span:nth-of-type(1) ul li a:hover{color: white;}

.section_1 span:nth-of-type(1) ul li:nth-of-type(1){
    border: none;
    padding-bottom: 3%;
    padding-top: 5%;
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    
}
.section_1 span:nth-of-type(1) ul:first-child li:first-of-type:hover{ background-color: inherit;}
/* zone d'image */

.section_1 span:nth-of-type(2){
    height: 600px;
    width: 70%;
    margin-left: 8.4%;
    margin-top: 2%;

}
.section_1 span:nth-of-type(2) article span:first-of-type{
    position: inherit;
    top: inherit;
}

.section_1 span:nth-child(2) div article .image{
    width: 24%;
    height: 230px;
    margin: inherit; 
}
.section_1 span:nth-child(2) div article .image p{
    padding-top: 2px;
    font-size: 12px;}

.section_1 span:nth-child(2) div article .image p:last-of-type{
    position: relative;
    left: 74%;
    top: -40px;
    width: inherit;
    opacity: .7;
}

.section_1 span:nth-of-type(2) .R_R{
    width: 140px;
    height: 25px;
    padding-left: 10px;
    padding-top: 8px;
    border: solid .5px red;
    border-radius: 3px;
    background-color: darkgreen;
    color: white;
    opacity: .7;
    position: relative;
    margin-top: 2%;
    left: 25%;
}
/* zone de nouveau produit */
.section_2{
    width: 100%;
    height: 25%;
}

.section_2 .items{
    margin: 0.5% 0% 0.4% 12%;
    font-size: 20px;
}
.section_2 .image{ 
    display: inline-block;
    width: 205px;
    margin-left: 25px;
    height: 230px;
}
.section_2 .image span p{
    padding-top: 3px;
    font-size: 13px;

}
.section_2 .image span p:last-of-type{
    position: relative;
    left: 80%;
    top: -44px;
    width: inherit;
    width: 75px;
    opacity: .7;
}
.section_2 .image:first-of-type{margin-left: 12%;}
